{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<!-- Blog Content -->
<div class="blog-content-section pt-100 pb-100">
	<span class="star-object"><img src="assets/images/home1/slider-object.png" alt=""></span>
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="blog-posts">

					{% for job in jobs %}

						<div class="blog-single-post">
							<div class="bixol-img-wrapper">
								<a href="{{ job.origineOffre.urlOrigine }}" rel="external nofollow" target="_blank">
									<img src="{{ job.entreprise.logo|default('tptp.png') }}" width="270" height="321" alt="" style="height:321px;max-height:321px">
								</a>
								<div class="bixol-blog-date">
									<span>{{ job.dateActualisation | date('d  M') }}</span>
								</div>
							</div>
							<div class="bixol-blog-content">
								<a href="{{ job.origineOffre.urlOrigine }}" rel="external nofollow" target="_blank" class="bixol-category">
									{{ job.appellationlibelle }}
									-
									{{ job.typeContrat }}
									<div class="bixol-blog-headline">
										<a href="{{ job.origineOffre.urlOrigine }}" rel="external nofollow" target="_blank">
											<h5>{{ job.secteurActiviteLibelle }}</h5>
										</a>
									</div>
									<div class="bixol-blog-pera">
										<p>{{ job.description | u.truncate(250, '...')}}</p>
									</div>
									<div class="bixol-blog-btn">
										<a href="{{ job.origineOffre.urlOrigine }}" rel="external nofollow" target="_blank" class="bixol-primary-btn">
											Postuler
											<span>
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
								</div>
							</div>

						{% endfor %}

					</div>
					{#
					                        <div class="bixol-pagination">
					                            <ul>
					                                <li><a href="#" class="active">1</a></li>
					                                <li><a href="#">2</a></li>
					                                <li><a href="#">3</a></li>
					                                <li><a href="#">&#8250;</a></li>
					                            </ul>
					                        </div>
					                        #}
				</div>
				<div class="col-lg-3">
					<div class="blog-sidebar">
						<div class="sidebar-widget category-widget">
							<div class="widget-title">
								<h5>Categories</h5>
							</div>
							<div class="list-nav">
								<ul itemscope itemtype="https://schema.org/BreadcrumbList">
									{% block navigation %}
										{% for categorie in categories %}
											<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
												<a itemprop="item" href="{{ url( categorie.slug ) }}">
													<span itemprop="name">
														{{ categorie.name }}
													</span>
												</a>
												<meta itemprop="position" content="{{ loop.index }}"/>
											</li>
										{% endfor %}
									{% endblock %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Blog Content End -->


	 <script type="application/ld+json">
	[
	{% for job in jobs %}
	{
	  "@context": "https://schema.org",
	  "@type": "JobPosting",
	
	  "title": {{ (job.appellationlibelle ~ (job.typeContrat ? ' - ' ~ job.typeContrat : '')) | json_encode | raw }},
	  "description": {{ job.description | striptags | json_encode | raw }},
	  "datePosted": "{{ job.dateActualisation | date('c') }}",
	  {% if job.dateExpiration is defined and job.dateExpiration %}
	  "validThrough": "{{ job.dateExpiration | date('c') }}",
	  {% endif %}
	  {% if job.typeContrat %}
	  "employmentType": {{ job.typeContrat | json_encode | raw }},
	  {% endif %}
	
	  "hiringOrganization": {
	    "@type": "Organization",
	    "name": {{ job.entreprise.nom|default('Entreprise') | json_encode | raw }},
	    {% if job.entreprise.logo is defined and job.entreprise.logo %}
	    "logo": {{ job.entreprise.logo | json_encode | raw }},
	    {% endif %}
	    "sameAs": {{ (job.entreprise.site|default(job.origineOffre.urlOrigine)) | json_encode | raw }}
	  },
	
	  {% if job.lieuTravail is defined and job.lieuTravail.libelle %}
	  "jobLocation": {
	    "@type": "Place",
	    "address": {
	      "@type": "PostalAddress",
	      "addressLocality": {{ job.lieuTravail.libelle | json_encode | raw }},
	      {% if job.lieuTravail.codePostal %}"postalCode": {{ job.lieuTravail.codePostal | json_encode | raw }},{% endif %}
	      "addressCountry": "FR"
	    }
	  },
	  {% endif %}
	
	  {% if job.teletravail is defined and job.teletravail %}
	  "jobLocationType": "TELECOMMUTE",
	  {% endif %}
	
	  "industry": {{ job.secteurActiviteLibelle | json_encode | raw }},
	  "url": {{ job.origineOffre.urlOrigine | json_encode | raw }},
	
	  {% if job.id is defined or job.reference is defined %}
	  "identifier": {
	    "@type": "PropertyValue",
	    "name": {{ job.entreprise.nom|default('Entreprise') | json_encode | raw }},
	    "value": {{ (job.id is defined ? job.id : job.reference) | json_encode | raw }}
	  }
	  {% endif %}
	
	  {% if job.salaire is defined and (job.salaire.min is defined or job.salaire.max is defined) %}
	  ,"baseSalary": {
	    "@type": "MonetaryAmount",
	    "currency": "EUR",
	    "value": {
	      "@type": "QuantitativeValue"
	      {% if job.salaire.min is defined %}, "minValue": {{ job.salaire.min | json_encode | raw }}{% endif %}
	      {% if job.salaire.max is defined %}, "maxValue": {{ job.salaire.max | json_encode | raw }}{% endif %}
	      {% if job.salaire.periodicite is defined %}
	      , "unitText": {{ job.salaire.periodicite | json_encode | raw }}  {# e.g. "HOUR", "DAY", "WEEK", "MONTH", "YEAR" #}
{% endif %}
}
  }{% endif %}{% if job.candidatureEmail is defined or job.candidatureTel is defined %}
,"applicantLocationRequirements": {
    "@type": "Country",
    "name": "France"
  }{% endif %}}{% if not loop.last %},{% endif %}{% endfor %}]</script>--!#}{% endblock %}
