        <!-- Footer -->
        <footer class="bixol-footer" data-background="{{ asset('images/footer-bg.jpg') }}">
            <a href="{{ path('app_homepage') }}" class="bixol-footer-logo"><img src="{{ asset('images/logo.png') }}" alt=""></a>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="bixol-footer-widget">
                            <h4>ACO<span>PROPRETE</span></h4>
                            <p>
                                {% trans %}Les techniciens de notre société de nettoyage répondent aux attentes de chaque client.
                                Notre société de nettoyage contribue à l'assurance de la qualité de vie de sa clientèle{% endtrans %}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="bixol-footer-widget">
                            <h4>Newsletter</h4>
                            <p>Abonnez-vous à notre newsletter pour recevoir nos dernières informations</p>
                            <div class="bixol-footer-form">
                                <form action="#">
                                    <input type="email" placeholder="Your mail adress">
                                    <button type="submit"><i class="far fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="bixol-footer-widget">
                            <h4>Coordonnée</h4>
                            <div class="bixol-footer-address">
                                <ul>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>1, Rue des Peupliers<br>74500 Lugrin
                                    </li>
                                    <li><i class="fas fa-phone"></i>+33 6 95 74 93 94</li>
                                    <li><i class="fas fa-envelope"></i>aco@acoproprete.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="bixol-footer-widget">
                            <h4>Gallerie d'images</h4>
                            <div class="bixol-insta-widget">
                                <ul>
                                    <li>
                                        <img src="{{ asset('images/gallerie/1.png') }}" alt="">
                                    </li>
                                    <li>
                                        <img src="{{ asset('images/gallerie/2.png') }}" alt="">
                                    </li>
                                    <li>
                                        <img src="{{ asset('images/gallerie/3.png') }}" alt="">
                                    </li>
                                    <li>
                                        <img src="{{ asset('images/gallerie/4.png') }}" alt="">
                                    </li>
                                    <li>
                                        <img src="{{ asset('images/gallerie/5.png') }}" alt="">
                                    </li>
                                    <li>
                                        <img src="{{ asset('images/gallerie/6.png') }}" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->