{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- service details -->
    <section class="service-details pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sr-sidebar">
                        <div class="sidebar-widget sr-list-widget">
                            <div class="widget-title">
                                <h5>Nos services</h5>
                            </div>
                            <div class="list-nav">
                                <ul>
                                    {% for service in services.services %}
                                        <li>
                                            <a href="{{ path('app_services', {'Slug': service.Slug, 'categorie': services.slug}) }}">
                                                {{ service.Titre }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-widget sr-btn-widget" data-background="assets/images/services/sr-widget-bg.jpg">
                            <span class="subtitle">PDF Files</span>
                            <h5>Download Brochures</h5>
                            <div class="download-btns">
                                <a href="#" class="btn-1">Company Brochure<span><i class="far fa-file-pdf"></i> </span></a>
                                <a href="#" class="btn-2">Company Brochure<span><i class="far fa-file-pdf"></i> </span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="sr-details-content">
                        <div class="title-txt">
                            <h2>{{ services.h2 }}</h2>
                        </div>

                        {{ services.ShortDescription | raw }}

                        <div class="sr-details-bottom mt-40">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="sr-details-left">
                                        <div class="title-txt">
                                            <h4>{{ services.h3 }}</h4>
                                        </div>
                                        {{ services.LongDescription | raw }}
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="srd-right-img">
                                        <img src="{{ asset('images/metier/pages/' ~ services.slug ~ '.png') }}" alt="{{ services.h3 }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sr-details-slider">
                        
                            {% for service in services.services %}
                                <div class="bixol-service-item">
                                    <div class="bixol-icon-wrapper">
                                        <span><i class="flaticon-clean"></i></span>
                                    </div>
                                    <div class="bixol-service-content">
                                        <a href="{{ path('app_services', {'Slug': service.Slug, 'categorie': service.Metier.Slug}) }}">
                                            <h5 style="height:53px" >{{ service.Titre }}</h5>
                                        </a>
                                        <p>{{ services.description | u.truncate(55, '...') }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service Details End -->

    <!-- Get In Tauch -->
    <section class="bixol-gta-area responsive-bg" data-background="{{ asset('images/contact.png') }}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 pl-0">
                </div>
                <div class="col-lg-6">
                    <div class="bixol-gt-right">
                        <h4>Demandez un devis</h4>
                        {{ form_start(form) }}
                        {{ form_widget(form.nom) }}
                        {{ form_widget(form.telephone) }}
                        {{ form_widget(form.email) }}
                        <div class="bx-form-select">
                            {{ form_widget(form.metier) }}
                        </div>
                        {{ form_widget(form.message) }}
                        <button type="submit" class="bixol-primary-btn submit-btn">
                            Envoyer votre message <span><i class="fab fa-telegram-plane"></i></span></button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Get In Tauch End -->

    <!-- Case Study -->
    <div class="bixol-case-study">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="bixol-ct-left" data-background="assets/images/home1/map-bg.png">
                        <span class="ct-title">80<sup>+</sup></span>
                        <span class="ct-subtitle">Partners in world wide</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bixol-ct-right">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 p-0 grid-item">
                                <div class="bixol-pt-item">
                                    <img src="/assets/images/home1/partner-1.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 p-0 grid-item">
                                <div class="bixol-pt-item">
                                    <img src="/assets/images/home1/partner-2.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 p-0 grid-item">
                                <div class="bixol-pt-item">
                                    <img src="/assets/images/home1/partner-3.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 p-0 grid-item">
                                <div class="bixol-pt-item">
                                    <img src="/assets/images/home1/partner-4.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 p-0 grid-item">
                                <div class="bixol-pt-item">
                                    <img src="/assets/images/home1/partner-5.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 p-0 grid-item">
                                <div class="bixol-pt-item">
                                    <img src="/assets/images/home1/partner-6.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Case Study End -->

        <style>
        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 24px! important;
            margin-bottom: 5px !important;
        }
        h3 {
            font-size: 20px! important;
        }

        .pera-txt > ul {
            margin-left: 25px;
        }

        .para-txt  a {
            color: #3a4268;
        }
    </style>
{% endblock %}