{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
        <div class="blog-content-section pt-100 pb-100">
            <span class="star-object"><img src="/assets/images/home1/slider-object.png" alt=""></span>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="blog-posts">
                            {% for item in articles[0].articleBlogs %}
                            <div class="blog-single-post">
                                <div class="bixol-img-wrapper"> 
                                    <a href="{{ path('app_blog_detail', {category: item.menu.slug, slug: item.slug}) }}">
                                        <img src="{{ vich_uploader_asset(item, 'imageFile') is not empty ? vich_uploader_asset(item, 'imageFile') : asset('images/blog/default-small.png') }}" alt="{{ item.name }}" width="270" height="321">
                                    </a>
                                    <div class="bixol-blog-date">
                                        <span>{{ item.createdAt|format_datetime(locale='fr', pattern='dd MMM') }}</span>
                                    </div>
                                </div>
                                <div class="bixol-blog-content">
                                    <a class="bixol-category">{{ item.menu.name }}</a>
                                    <div class="bixol-blog-headline">
                                        <a href="{{ path('app_blog_detail', {category: item.menu.slug, slug: item.slug}) }}"><h5>{{ item.name }}</h5></a>
                                    </div>
                                    <div class="bixol-blog-pera">
                                        <p>{{ item.description|striptags|u.truncate(80)|e }}</p>
                                    </div>
                                    <div class="bixol-blog-btn">
                                        <a href="{{ path('app_blog_detail', {category: item.menu.slug, slug: item.slug}) }}" class="bixol-primary-btn"> Lire nos conseils <span><i class="fas fa-plus"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="bixol-pagination">
                            {{ knp_pagination_render(articles) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="blog-sidebar">
                            <div class="sidebar-widget author-widget no-border" data-background="/assets/images/portfolio/author-widget-bg.jpg">
                                <div class="dot-1"><img src="assets/images/portfolio/dot-1.png" alt=""></div>
                                <div class="dot-2">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="author-thumb">
                                    <img src="/assets/images/portfolio/author.jpg" alt="">
                                </div>
                                <div class="author-info">
                                    <h5>Aco Lukovic</h5>
                                    <span>Gérant</span>
                                </div>
                            </div>
                            <div class="sidebar-widget category-widget">
                                <div class="widget-title">
                                    <h5>Categories</h5>
                                </div>
                                <div class="list-nav">
                                    <ul>
                                        {% for item in menus %}
                                        <li><a href="{{ path('app_blog_list', {category: item.slug}) }}">{{ item.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}